footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 19.5rem;

  .logo-footer {
    width: 180.89px;
    height: 110.81px;
  }

  .blue-footer {
    background: var(--color-blue);
    width: 100%;
    min-height: 228px;
    padding-inline: calc(20px + (64 - 20) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(20px + (155 - 20) * ((100vw - 320px) / (1920 - 320)));
    color: white;
    font-size: var(--footer-text);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;

    @media (max-width: 750px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 2rem;
    }

    a {
      color: white;
      text-transform: initial;
      text-decoration: none;
    }
  }

  .white-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem calc(20px + (64 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-size: var(--small-text);
    color: var(--color-blue);
    font-weight: 300;

    @media (max-width: 750px) {
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }

    a {
      color: var(--color-blue);
      text-decoration: none;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .separator {
      background: var(--color-blue);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: 1;
    }
  }
}
