#photographie {
  .entry {
    img:not(.no-animation) {
      opacity: 0;
    }

    img.left-transition {
      transform: translateX(-50%);
    }

    img.transition:first-of-type {
      transform: translateY(-50%);
    }

    img.transition:last-of-type {
      transform: translateY(50%);
    }

    img.top-transition {
      transform: translateY(-50%);
    }

    img.right-transition {
      transform: translateX(50%);
    }

    &.reveal-visible {
      img.delay-un {
        transition-delay: 0.3s !important;
      }

      img.transition:nth-of-type(2) {
        transition-delay: 0.3s !important;
      }
      img.transition:last-of-type {
        transition-delay: 0.5s !important;
      }

      img:not(.no-animation) {
        opacity: 1;
        transform: translate(0);
        transition: 1.5s ease-in-out;
      }
    }
  }

  img {
    max-height: 100vh;
  }
  .splide {
    height: 100vh;
  }

  .section {
    height: 100vh;
  }

  h2 {
    font-size: calc(36px + (122 - 36) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1;
    color: var(--color-blue);
  }

  .content-hero-banner {
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100% - 26px);
    overflow: hidden;

    img:not(.logo-page) {
      height: 100%;
      opacity: 0;
      transform: translateX(-50%);

      @media (max-width: 1399px) {
        width: 100%;
        object-fit: cover;
      }
    }

    &.reveal-visible img:not(.logo-page) {
      opacity: 1;
      transform: translateX(0);
      transition: 1.5s ease-in-out;
    }
  }

  .logo-page {
    width: 269px;
    height: 164px;
    position: absolute;
    left: -28rem;
    top: -10.5rem;

    @media (max-width: 1399px) {
      left: 20rem;
      top: -11rem;
      width: calc(134.5px + (269 - 134.5) * ((100vw - 320px) / (1399 - 320)));
      height: calc(82px + (164 - 82) * ((100vw - 320px) / (1399 - 320)));
    }

    @media (max-width: 1300px) {
      position: initial;
      left: unset;
      top: unset;
    }
  }

  .title-container {
    position: relative;
    left: -30rem;
    color: var(--color-blue);

    @media (max-width: 1399px) {
      position: absolute;
      inset: 0;
      margin: auto;
      height: fit-content;
    }

    @media (max-width: 1300px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1 {
      border-top: 1px solid var(--color-blue);
      border-bottom: 1px solid var(--color-blue);
      padding-block: 2.5rem;
      line-height: 1;
      margin-block: 2.5rem;
    }
  }

  .point {
    width: var(--dot-size);
    height: var(--dot-size);
    background: var(--color-blue);
    border-radius: 50%;
    display: flex;
  }

  .gallerie_un {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 4.3rem;
      color: var(--color-blue);

      @media (max-width: 1399px) {
        gap: 1rem;
        max-width: 95%;
      }

      @media (max-width: 1138px) {
        max-width: 100%;
        gap: 0;
      }

      @media (max-width: 1073px) {
        position: relative;
        display: grid;
        grid-template-rows: repeat(2, 50vh);

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      @media (max-width: 850px) {
        img {
          width: 100vw;
        }
      }
    }

    .right {
      @media (max-width: 1073px) {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }

      @media (max-width: 850px) {
        h2 {
          position: absolute;
          inset: 0;
          margin: auto;
          text-align: center;
          width: fit-content;
          height: fit-content;
        }
      }
    }

    .right img {
      margin-left: 5.6rem;
      margin-bottom: 1.6rem;

      @media (max-width: 1338px) {
        margin-left: 2rem;
      }

      @media (max-width: 1138px) {
        margin-left: 0;
      }

      @media (max-width: 1073px) {
        height: 100%;
        margin-bottom: 0;
      }
    }
  }

  .splide__pagination {
    counter-reset: pagination-num;
  }

  .splide__pagination__page:before {
    counter-increment: pagination-num;
    content: "0" counter(pagination-num);
    color: var(--color-blue);
    font-weight: 700;
  }

  .splide__pagination--ttb {
    right: unset;
    left: 0.5em;
    gap: 1.4rem;

    button {
      background: var(--color-blue);
      width: 11px;
      height: 11px;
      border-radius: 50%;
      opacity: 1;

      &::before {
        opacity: 0;
        height: 0;
        width: 0;
        font-size: 1px;
      }

      &.is-active {
        background: transparent;
        width: auto;
        height: auto;

        &::before {
          opacity: 1;
          font-size: calc(34px + (74 - 34) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
  }
}

.gallerie_deux {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h2 {
    position: relative;
    top: -28rem;
    right: -10rem;
    text-align: center;
    z-index: 3;

    @media (max-width: 1335px) {
      right: 0;
    }

    @media (max-width: 1272px) {
      position: absolute;
      top: 2rem;
      right: 0;
      left: 0;
      margin-inline: auto;
    }
  }

  .background {
    position: absolute;
    background: white;
    width: var(--image-responsive-width);
    height: calc(268px + (536 - 268) * ((100vw - 320px) / (1920 - 320)));
    bottom: 4rem;
    left: 45rem;
    z-index: 2;

    @media (max-width: 1335px) {
      left: 30rem;
      bottom: 2rem;
    }

    @media (max-width: 1272px) {
      left: 10rem;
    }

    @media (max-width: 492px) {
      left: 0;
      right: 0;
      margin-inline: auto;
    }

    img {
      position: relative;
      left: -30px;
      top: -20px;
      width: var(--image-responsive-width);
      height: calc(268px + (536 - 268) * ((100vw - 320px) / (1920 - 320)));
      object-fit: cover;
    }
  }

  .img-gallerie_deux {
    width: 100%;
    height: 100%;
  }
}

.splide__arrows {
  display: none;
}

.gallerie_trois {
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (max-width: 1399px) {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(2, 50vh);
      gap: 0;

      img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .logo-line {
    display: flex;
    gap: 7.8rem;
    justify-content: center;
    align-items: end;
    margin-top: 7.8rem;

    @media (max-width: 1399px) {
      display: none;
    }

    .line {
      display: block;
      height: 17px;
      background: var(--color-blue);
      width: 100%;
      max-width: 561px;
    }

    img {
      width: var(--image-responsive-width);
      height: var(--image-responsive-height);
    }
  }
}

.gallerie_quatre {
  position: relative;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: start;
  padding-top: 14.4rem;

  @media (max-width: 1796px) {
    display: grid;
    grid-template-columns: 0.9fr 0.5fr 0.5fr;
    justify-items: end;
  }

  @media (max-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50vh);
    padding-top: 0;

    img:first-of-type {
      grid-column: 1 / 3;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img:not(:first-of-type) {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  h2 {
    position: absolute;
    max-width: 564px;
    left: 50%;
    top: 0;

    @media (max-width: 1000px) {
      left: 0;
      right: 0;
      margin-inline: auto;
      text-align: center;
      top: 5rem;
    }
  }

  img:nth-of-type(2) {
    align-self: center;
  }
  img:nth-of-type(3) {
    align-self: end;
  }
}
